* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body {
  display: grid;
  place-items: center;

  min-height: 100vh;

  background-image: url("./carta.jpg");
}

.carta {
  display: grid;
  width: 500px;
  height: 300px;
  background-color: beige;

  justify-content: center;
  align-content: center;
  border-radius: 5%;
}

.contenido h2 {
  text-align: center;
  font-size: 2.5rem;
}
.contenido p {
  text-align: justify;
  padding: 2rem 20px 2rem 20px;
}
